*.zip
Airshow/playerdata/*
Airshow/stats/*
Amazon/playerdata/*
Amazon/stats/*
Ashfire/playerdata/*
Ashfire/stats/*
bedwars_world/advancements/*
bedwars_world/playerdata/*
bedwars_world/stats/*
cache/*
Crogorm/playerdata/*
Crogorm/stats/*
Dragonstar/playerdata/*
Dragonstar/stats/*
Easter/playerdata/*
Easter/stats/*
Glacier/playerdata/*
Glacier/stats/*
Hollow/playerdata/*
Hollow/stats/*
Hunt/playerdata/*
Hunt/stats/*
Lighthouse/playerdata/*
Lighthouse/stats/*
logs/*
Orchestra/playerdata/*
Orchestra/stats/*
Pernicious/playerdata/*
Pernicious/stats/*
plugins/Essentials/userdata/*
plugins/Essentials/usermap.csv
plugins/LuckPerms/translations/*
plugins/LuckPerms/libs/*
RoofTop/playerdata/*
RoofTop/stats/*
Solace/playerdata/*
Solace/stats/*
Speedway/playerdata/*
Speedway/stats/*
Waterfall/playerdata/*
Waterfall/stats/*
Zarzul/playerdata/*
Zarzul/stats/*
